<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>add</title>
</head>
<body>

<div align="center">
		<h1>Add Employee</h1>

		<form action="/add" method="post">
			Name: <input type="text" name="name"><br> <br>
			ImageLink: <input type="text" name="imageLink"><br> <br>
			Email: <input type="email" name="email"><br> <br>
			Mobile: <input type="number" name="mobile"><br> <br>
			Salary: <input type="number" name="salary"><br> <br>
			<button>Add</button>
		</form>

		<br>
		<br>
		<a href="/"><button>Back</button></a>
	</div>


</body>
</html>