<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>main</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
<!--<h1>Hello</h1>  -->

<div align="center">
		<h1>Employee Management</h1>
		<h2 th:text="${message}"></h2>
		<a href="/add"><button><i class="fa-solid fa-user-plus"></i> Add Employee</button></a>
		<br>
		<br>
		<a href="/view"><button><i class="fa-solid fa-users"></i> Manage Employees</button></a>
	</div>


</body>
</html>